*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Formatação da fontes dentro do html todo */

html {
    font-family: 'Inter', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 62.5%;
}

/* Selection de texto */

p::selection,
h1::selection,
h2::selection,
a::selection,
li::selection {
    background-color: var(--bg-color);
    color: white;
}

/* Cabeçalho */

header{
    width: 100%;
    min-height: 15vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px 2px var(--bg-color);
    background-color: #212121;
    border-bottom-left-radius: var(--space-7);
    border-bottom-right-radius: var(--space-7);
}

/* Background */

body{
    background-image: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .4)), url(../imagem/background.jpeg);
    background-size: cover;
    font-size: 1.6rem;
}

/* Titulo da página */

.fintech{
    font-size: 7vmin;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--bg-color);
    margin-right: 2vmin;
    margin-left: 2vmin;
}

/* Subtitulo */

.subt{
    font-size: 3vmin;
    font-weight: 500;
    color: var(--bg-color);
}

/* Login e senha */

ul a{
    margin-left: 2vmin;
    transition: 1s;
    text-decoration: none;
    color: white;
    margin-right: 1.5vmin;
}
ul a:hover{
    font-size: 5rem;
    color: var(--bg-color);
}

/* Imagem das moedas */

#imagem{
    width: 90%;
    min-height: 30vh;
    margin: 30px auto;
    padding: 30px 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .3)), url(../imagem/moeda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 7px;
}

/* Texto principal da imagem da moeda */
.texto{
    font-size: 5vmin;
    margin: 30px 40px;
    color: white;
}

/* Texto segundario da imagem da moeda */
.lorem{
    margin: 50px 40px 130px;
    width: 50%;
    font-size: 2vmin;
    color: white;
    padding: 2px;
}

/* Botão saiba mais na imagem da moeda */
.link{
    margin:30px;
    text-decoration: none;
    border: 2px solid var(--bg-color);
    background-color: var(--bg-color);
    color: white;
    padding: 8px 30px;
    border-radius: 7px;
    font-weight: 600;
}
.link:hover{
    background-color:transparent;
    color: var(--bg-color);
}

/* Formatação dos container-pai */

.container-pai{
    margin: 1% 5%;
    display: flex;
    flex-wrap: wrap;
}

/* Formatação dos 3 containers */

.container{
    width: 31%;
    min-height: 30vh;
    background-position: center center;
    margin: 15px auto;
    border-radius: 7px;
}

/* Primeiro container (Imagem: Celular) */
.container.div1 {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .3)), url(../imagem/celular.jpeg);
}
.container.div1:hover{
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url(../imagem/celular.jpeg);
    transition: 2s;
}

/* Texto titulo do primeiro container */
.container.div1 h2{
    font-size: 3vmin;
    color: white; 
    margin: 0; 
    padding: 30px;
}

/* Texto informativo do primeiro container */
.container.div1 p{
    font-size: 2vmin;
    color: white;
    margin: -20px 30px;
    margin-bottom: 50%;
}

/* Botão link para download do primeiro container */
.container.div1 a{
    left: 10%;
    bottom: 8%;
    text-decoration: none;
    border: 2px solid var(--bg-color);
    background-color: var(--bg-color);
    color: white;
    /* padding: 1vmin 2vmin; */
    border-radius: 7px;
    font-weight: 600;
    position: relative;
    box-sizing: border-box;
    font-size: 10px;
}
.container.div1 a:hover{
    background-color:transparent;
    color: var(--bg-color);
}
@media screen and (max-height: 425px){
    .container.div1 a{
        left: 10%;
        bottom: 8%;
        text-decoration: none;
        border: 2px solid var(--bg-color);
        background-color: var(--bg-color);
        color: white;
        border-radius: 7px;
        font-weight: 600;
        position: relative;
    }
}

/* Segundo container (Imagem: Notas) */
.container.div2{
    background-image: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .4)), url(../imagem/dinheiro.jpg);
}
.container.div2:hover{
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url(../imagem/dinheiro.jpg);
    transition: 2s;
}

/* Texto titulo do segundo container */
.container.div2 h2{
    font-size: 3vmin;
    color: white;
    margin: 0; 
    padding: 30px;
}

/* Texto informativo do segundo container */
.container.div2 p{
    font-size: 2vmin;
    color: white;
    margin: -20px 30px;
}

/* Terceiro container (Imagem: Porquinho) */

.container.div3{
    background-image: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .4)), url(../imagem/lapis.jpg);
}
.container.div3:hover{
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url(../imagem/lapis.jpg);
    transition: 2s;
}

/* Texto titulo do terceiro container */
.container.div3 h2{
    font-size: 3vmin;
    color: white;
    margin: 0; 
    padding: 30px;
}

/* Texto informativo do terceiro container */
.container.div3 p{
    font-size: 2vmin;
    color: white;
    margin: -20px 30px;
}

/* Formatação do fundo cinza com elementos de texto */

#realidade{
    width: 90%;
    height: 100%;
    color: rgb(0, 0, 0);
    margin: 1% 5%;
    font-weight: 600;
    text-align: left;
    background-color: rgb(199, 196, 196);
    border-radius: 10px;
    box-shadow: 0 0 10px ;
}

/* Texto h2 dentro do fundo cinza */

#realidade h2:not(.no-color){
    font-size: 3vmin;
    font-weight: bold;
    padding: 10px;
    color: var(--bg-color);
    text-decoration: underline #000000;
    margin-left: 10px;
}

/* Texto p dentro do fundo cinza */

#realidade p{
    font-size: 2vmin;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Lista dentro do fundo cinza */

ul{
    list-style: upper-roman;
    margin-left: 35px;
}
.credito li{
    font-size: 2vmin;
    color: var(--bg-color);
    margin-left: 10px;
    font-weight: bold;
}
.credito p{
    padding: 5px;
    font-size: 2vmin;
    color: rgb(0, 0, 0);
}

/* Link da fonte embaixo do texto da lista */

.fontes{
    font-size: 2vmin;
    color: black;
    text-align: center;
}
.fonte {
    font-size: 1.5vmin;
    color: var(--bg-color);
}

/* Titulos dos graficos dentro do fundo cinza */

.titulos{
    font-size: 3vmin;
    text-align: center;
    margin-bottom: 40px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

/* Formatação do gráfico pai */

.grafico{
    width: 40%;
    height: 20vh;
    margin-left: 30%;
    margin-bottom: 20px;
}

/* Formatação do primeiro grafico */

.grafico img{
    width: 100%;
    height: 100%;
}

/* Botão de download abaixo dos gráficos */

.down{
    left: 5%;
    bottom: 20px;
    top: 10%;
    text-decoration: none;
    border: 2px solid var(--bg-color);
    background-color: var(--bg-color);
    color: white;
    padding: 0.5vh 1vw;
    border-radius: 7px;
    position: relative;
}
.down:hover{
    background-color:transparent;
    color: var(--bg-color);
}

/* Formatação do rodapé */

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30vh;
    background-color: var(--bg-color);
}

/* Formatação das 3 divs do rodapé */

.box {
    width: 400px;
    height: 80px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
}

/* Formatação do titulo dos texto das 3 divs */

.inicio {
    font-size: 3vmin;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 5px;
}

/* Formatação dos links das 2 divs  */

.home {
    font-size: 2vmin;
    padding: 5px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.home:hover{
    color: white;
}

/* Formatação do texto informativo da ultima div */

.info{
    font-size: 2vmin;
    padding: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
