html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
html {
    font-family: 'Inter', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 130px;
    top: 0;
    left: 0;
    right: 0;
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px 2px #ED165B;
    background-color: #212121;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .4)), url(../imagem/background.jpeg);
}
p::selection{
    background-color: #ED165B;
    color: white;
}
h1::selection{
    background-color: #ED165B;
    color: white;
}
h2::selection{
    background-color: #ED165B;
    color: white;
}
a::selection{
    background-color: #ED165B;
    color: white;
}
li::selection{
    background-color: #ED165B;
    color: white;
}
.fintech{
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ED165B;
}
.subt{
    font-size: 35px;
    font-weight: 500px;
    color: #ED165B;
}
ul a{
    margin-left: 30px;
    transition: 1s;
    text-decoration: none;
    color: white;
}
ul a:hover{
    font-size: 5rem;
    color: #ED165B;
}
#imagem{
    width: 90%;
    height: 500px;
    margin: 90px 100px 30px 100px;
    padding: 30px 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .3)), url(../imagem/moeda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 7px;
}
.texto{
    font-size: 45px;
    margin: 30px 40px;
    color: white;
}
.lorem{
    margin: 50px 40px 130px;
    width: 50%;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 2px;
    line-height: 1.5;
}
.link{
    margin:50px;
    text-decoration: none;
    border: 2px solid #ED165B;
    background-color: #ED165B;
    color: white;
    padding: 8px 30px;
    border-radius: 7px;
    font-weight: 600;
}
.link:hover{
    background-color:transparent;
    color: #ED165B;
}
.container-pai{
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container{
    width: 31%;
    height: 500px;
    display: inline-block;
    text-align: center;
    background-position: center center;
    margin: 15px;
    border-radius: 7px;
}
.container.div1 {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .3)), url(../imagem/celular.jpeg);
}
.container.div1:hover{
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url(../imagem/celular.jpeg);
    transition: 2s;
}
.container.div1 h2{
    font-size: 30px;
    color: white;
    text-align: justify; 
    margin: 0; 
    padding: 30px;
}
.container.div1 p{
    font-size: 18px;
    color: white;
    margin: -20px 30px;
    text-align: justify;
    margin-bottom: 290px;
}
.container.div1 a{
    text-decoration: none;
    border: 2px solid #ED165B;
    background-color: #ED165B;
    color: white;
    padding: 8px 30px;
    border-radius: 7px;
    font-weight: 600;
    margin-right: 280px;
}
.container.div1 a:hover{
    background-color:transparent;
    color: #ED165B;
}
.container.div2{
    background-image: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .4)), url(../imagem/dinheiro.jpg);
}
.container.div2:hover{
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url(../imagem/dinheiro.jpg);
    transition: 2s;
}
.container.div2 h2{
    font-size: 30px;
    color: white;
    text-align: justify; 
    margin: 0; 
    padding: 30px;
}
.container.div2 p{
    font-size: 18px;
    color: white;
    text-align: justify;
    margin: -20px 30px;
}
.container.div3{
    background-image: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .4)), url(../imagem/lapis.jpg);
}
.container.div3:hover{
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url(../imagem/lapis.jpg);
    transition: 2s;
}
.container.div3 h2{
    font-size: 30px;
    color: white;
    text-align: justify; 
    margin: 0; 
    padding: 30px;
}
.container.div3 p{
    font-size: 18px;
    color: white;
    text-align: justify;
    margin: -20px 30px;
}
#realidade{
    width: 50%;
    height: 1500px;
    color: rgb(0, 0, 0);
    margin: 10px 25%;
    font-weight: 600;
    text-align: left;
    background-color: rgb(199, 196, 196);
    border-radius: 10px;
    box-shadow: 0 0 10px ;
}
#realidade h2:not(.no-color){
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: #ED165B;
    text-decoration: underline #000000;
    margin-left: 10px;
}
#realidade p{
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
ul{
    list-style: upper-roman;
    margin-left: 35px;
}
.credito li{
    font-size: 20px;
    color: #ED165B;
    margin-left: 10px;
    font-weight: bold;
}
.credito p{
    padding: 5px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.fonte a{
    font-size: 15px;
    color: #ED165B;
}
.fonte.no-color{
    margin-left: 300px;
}
.titulos{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}
.grafico{
    margin-left: 140px;
    border-radius: 7px;
}
.graficos{
    margin-left: 160px;
    margin-bottom: 20px;
    border-radius: 7px;
}
.fontes{
    font-size: 20px;
    margin-left: 33%;
    font-weight: bold;
    margin-bottom: 20px;
}
.fontes a{
    font-size: 15px;
    color: #ED165B;
    font-weight: bold;
}
footer{
    width: 100%;
    height: 300px;
    background-color: #ED165B;
}